*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.registration-form{
    background: url(/img/1.jpg);
    height: 81.9vhvh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 85px 0px
}
.form-box{
    width: 100%;
    display: flex;
}
.left{
    flex-basis: 50%;
    background: #0e86d6;
    border-radius: 5px;
}
.left h1{
    color: white;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    
}.left p{
    color: white;
    margin-top: 20px;
    padding: 20px;font-family: 'Roboto', sans-serif;
}
.left button{
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
    font-weight: 600;
    transition: 0.5s;
    margin: 8% 17% 46% 3%;
}
.left button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s;
}
.right{
    flex-basis: 50%;
    background-color: white;
}
.right h1{
    margin: 50px 0px 25px 25px;
    font-family: 'Roboto', sans-serif;
    
}
.name-box{
    display: flex;
    margin: 5px 20px;
}
.first label{
    display: block;
    margin-bottom: 20px;
    
}
.first{
    padding: 10px;
    margin-top: 20px;
}
.last label{
    display: block; 
    margin-bottom: 20px;
}
.last{
    padding: 10px;
    margin-top: 20px;
}
.gmail-box{
    margin: 5px 12px;
}
.gmail-box label{
    display: block;
    margin: 10px 20px;
    
}
.gmail-box input{
    width: 66%;
    margin-left: 20px;
}
.password-box{
    display: flex;
    margin: 5px 20px;
}
.password-box label{
    display: block;
}
.checkbox-box{
    margin-left: 35px;
}
.right button{
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
    font-weight: 600;
    transition: 0.5s;
    margin: 9% 15% 49% 3%;
    background: #0e86d6;
    color: white;
}
.box button:hover {
    background-color: black;
    color: whitesmoke;
    transition: all 0.5s;
}
label{
    font-family: 'Noto Sans', sans-serif;
}