*{
    margin: 0;
    padding: 0;
}
.registration-form{
    background: #77e3ea;
    height: 100vh;
    padding: 100px 0px;
    
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.form-box{
    width: 100%;
    display: flex;
}
.left{
    flex-basis: 50%;
    background: #0e86d6;
    border-radius: 5px;
}
.left h1{
    color: white;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    
}.left p{
    color: white;
    margin-top: 20px;
    padding: 20px;font-family: 'Roboto', sans-serif;
}
.left button{
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
    font-weight: 600;
    transition: 0.5s;
    margin: 8% 17% 46% 3%;
}
.left button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s;
}
.right{
    flex-basis: 50%;
    background-color: white;
}
.box{
    padding: 10px;
}
.box h1{
    font-family: 'Roboto', sans-serif;
}
.name-box{
display: block;
flex-direction: column;
}
.gmail-box{
display: flex;
flex-direction: column;
}
.password-box{
display: flex;
flex-direction: column;
}

.right button{
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
    font-weight: 600;
    transition: 0.5s;
    margin: 9% 15% 49% 3%;
    background: #0e86d6;
    color: white;
}
.box button:hover {
    background-color: black;
    color: whitesmoke;
    transition: all 0.5s;
}
label{
    font-family: 'Noto Sans', sans-serif;
}